<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container-fluid navbar-style py-3">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" id="logo">Daksh Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
</div>
      </div>
    </div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-centre align-items-centre flex-column">
          <h1>Hello Buddies</h1>
          <h1>Let's Grow Our Business</h1>
          <p>We are the team of dedicated <span class="bold-style">Hardworkers</span></p>
          <button class="btn-style btn-primary">Read More</button>
        </div>

        <div class="col-md-6 col-12 hero-text order-md-1 order-0 ">
          <figure>
            <img src="images/daksh.avif" alt="herosection_image">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-centre main-heading">About Us</h1>
      <p class="text-centre sub-heading">Grow your business with Us</p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text">
          <figure>
            <img src="images/daksh.avif" alt="herosection_image">
          </figure>
        </div>

        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-centre align-items-centre flex-column">
          <h1>Hello Buddies</h1>
          <p>We are the team of <span class="bold-style">Hardworkers</span></p>
          <button class="btn-style btn-primary">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div> 
      <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>