<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-centre main-heading">About Us</h1>
      <p class="text-centre sub-heading">Grow your business with Us</p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text">
          <figure>
            <img src="images/daksh.avif" alt="herosection_image">
          </figure>
        </div>

        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-centre align-items-centre flex-column">
          <h1>Hello Buddies</h1>
          <p>We are the team of <span class="bold-style">Hardworkers</span></p>
          <button class="btn-style btn-primary">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div> 