body {
    background:url('images/image.jpg');
}

.container{
    background: white;
    margin-top: 6%;
    border-radius: 8%;
    padding: 1%;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
    margin-right: 5%;
}

.profile{
    margin-left: 40%;
    margin-bottom: 5%;
    color: rgb(99, 39, 120);
}

.labels {
    font-size: 14px
}

